/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 Jun 2024, 13:45:45
    Author     : User
*/

@media (max-width: 1199px) {
    /* Adjustments for medium-sized devices (laptops, tablets) */
    .container {
        max-width: 960px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    /* Adjustments for tablets and smaller laptops */
    .container {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    /* Adjustments for smaller tablets and mobile devices */
    .container {
        max-width: 540px;
    }
    
    .py-4, .py-5 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .navbar-nav {
        flex-direction: column;
    }
    
    .card-body {
        height: auto;
    }
    
    .card-footer {
        text-align: center;
    }
}

@media (max-width: 576px) {
    /* Adjustments for mobile devices */
    .container {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* Responsive Navbar*/
.navbar {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
    padding: .5rem 1rem;
}

.navbar-toggler {
    border: none;
    background: none;
    outline: none;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3e%3cpath stroke="rgba%280, 0, 0, 0.5%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e');
}


a:link { 
  text-decoration: none; 
  color: darkslategray;
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: underline; 
} 
a:active { 
  text-decoration: none; 
}

.btnAddToCart {
    background-color: #b9b0b0;
    color: #000000;
}

.duitnow-container {
    object-fit: contain;
}